*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

#header{
    background-color: rgb(158, 161, 105); 
    letter-spacing: 1.3em;
    text-align: center;
    padding: 20px 0px;
    text-decoration: none;
    position: absolute;
    top: 0;
    width: 100%;
    }
#main{
    height: 100%;
    width: 90%;
    margin: auto;
}
#selection_box{
    border-radius: 10px;
    margin-top: 150px;
    padding: 10px 10px;
    background-color: rgb(141, 196, 196);
    text-align: center;
    display: flex;
    flex-direction: column;
}
#selection_label_box{
    margin: 10px 10px;
    padding 20px 20px;
}
#selection_option_box{
    display: grid; grid-template-columns: auto auto;
    margin-left: 5px;
    margin-right: 5px;
}
#expense_box{

    margin: 5px;
    padding: 30px;
    background-color: antiquewhite;
    border-radius: 10px;
}
#income_box{
    margin: 5px;
    padding: 30px;
    background-color: antiquewhite;
    border-radius: 10px;
}


#result_box{
    border-radius: 10px;
    margin-top: 20px;
    min-height: 20lh;
    padding: 10px 10px;
    background-color: rgb(141, 196, 196);
    text-align: center;
}
#result_main{
    min-height: 20lh;
    margin: 5px 5px;
    padding: 30px;
    background-color: antiquewhite;
    border-radius: 10px;
}




#footer{
    background-color: rgb(73, 61, 52);
    text-align: center;
    width: 100%;
    margin-bottom: 0;
    margin: auto;
    background-color: #333;
    color:white;
    padding: 20px 0px;
    position: fixed;
    bottom: 0;
}