*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

#header{
    background-color: rgb(158, 161, 105); 
    letter-spacing: 1.3em;
    text-align: center;
    padding: 20px 0px;
    text-decoration: none;
    position: absolute;
    top: 0;
    width: 100%;
    }
#main{
    border: red 1px solid;
    margin-top: 200px;
    background-color: azure;
    text-align: center;
}
#footer{
    background-color: rgb(73, 61, 52);
    text-align: center;
    width: 100%;
    margin-bottom: 0;
    margin: auto;
    background-color: #333;
    color:white;
    padding: 20px 0px;
    position: absolute;
    bottom: 0;
}